# Игнорирование папок настроек Visual Studio
.vs/
bin/
obj/
Release/
Debug/
publish/
publishс/

# Игнорирование временных файлов и папок
*.user
*.lock.json
*.lock
*.pdb
*.tmp
*.log
*.cache
*.config



# Игнорирование автоматически генерируемых файлов и статических веб-ресурсов
scopedcss/
staticwebassets/
