@{
    ViewData["Title"] = "Science Page";
}

<title>@ViewData["Title"]</title>

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Science.css" asp-append-version="true" />

<div id="mainContainer">
    <!-- Блок СНО ФЦПТ -->
    <div id="content">

        <div class="text-center mb-4" style="margin: 0px 150px;">
            <h1>Присоединяйся к Студенческому научному обществу - СНО ФЦПТ!</h1>
        </div>

        <div class="mb-4" style="margin: 75px 150px 75px;">
            <p>
                Если ты стремишься к инновациям, хочешь развиваться и воплощать свои идеи, быть на передовой науки и технологий, стать востребованным специалистом... Присоединяйся к Студенческому научному обществу - СНО ФЦПТ!
            </p>
        </div>
        <div class="mb-4" style="margin: 75px 150px 75px;">
            <h2>Здесь тебя ждут:</h2>
            <ul style="list-style-type: none; margin: 0 150px 0; font-size: 42px;">
                <li><strong>📎</strong> Участие в актуальных и востребованных исследованиях, определённых совместно с представителями промышленности и сетевыми партнёрами.</li>
                <li><strong>📎</strong> Наставники и руководители из числа молодых научных сотрудников Института робототехники и интеллектуальных систем, которые сами прошли все этапы развития – от студентов до руководителей лабораторий.</li>
                <li><strong>📎</strong> Проекты, подходящие для студентов любого уровня подготовки, от новичков до аспирантов.</li>
            </ul>
        </div>
        <div class="mb-4" style="margin: 75px 150px 75px; text-align: center;">
            <h2>Не упусти шанс развивать свои навыки и строить успешную карьеру с СНО ФЦПТ!</h2>
        </div>

        <!-- Карусель -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6 mr-3">
                            <img class="d-block w-100 custom_rounded" src="~/img/SNO/DSC00128.png" alt="Third slide">
                        </div>
                        <div class="col-6 ml-3">
                            <img class="d-block w-100 custom_rounded" src="~/img/SNO/DSC00148-1.png" alt="Fourth slide">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-6 mr-3">
                            <img class="d-block w-100 custom_rounded" src="~/img/SNO/DSC00164.png" alt="Fifth slide">
                        </div>
                        <div class="col-6 ml-3">
                            <img class="d-block w-100 custom_rounded" src="~/img/SNO/DSC00100.png" alt="Sixth slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Блок ИРИС -->
        <div class="mb-4" style="margin: 75px 150px 75px;">
            <h1>Институт робототехники и интеллектуальных систем</h1>
            <div style="display: flex; align-items: flex-start;">
                
                <p>
                    <strong>📎</strong> ИРИС реализует разработку, развитие и внедрение комплекса передовых технологий,
                    обеспечивающих создание перспективных робототехнических комплексов и беспилотных систем...
                </p>
            </div>
        </div>

        <!-- Список проектов -->
        <div class="mb-4" style="margin: 75px 150px 75px;">
            <h2>Присоединяйся к проектам:</h2>
            <ol style="margin: 0 150px 0; font-size: 42px;">
                <li>Робототехнический комплекс для обследования помещений при пожаре</li>
                <li>Учебно-научный комплекс мобильная робототехническая платформа (базовая и профессиональная версии)</li>
                <li>Комплекс для проведения лабораторных работ по Электротехнике и Электронике</li>
                <li>БПЛА «Снежинка»</li>
                <li>Образовательный комплекс для сервисного обслуживания помещений</li>
            </ol>
        </div>

        <!-- Кнопка -->
        <div class="btn-container text-center">
            <a href="https://ирис.team/">
                <h2>Вступить к нам 👆</h2>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#carouselExampleIndicators').carousel({
                interval: 3000,
                ride: 'carousel'
            });
        });
    </script>
}
