@{
    // Получаем предустановленную аудиторию, если она есть
    string preselectedRoom = ViewBag.PreselectedRoom as string;
    ViewData["Title"] = "Campus map";
}


<link rel="stylesheet" href="~/css/Map.css" asp-append-version="true" />
<script>
    let initialRoomId = '@(preselectedRoom ?? "")';
</script>



<div id="mainContainer">
    <h1 id="floor-title">4 этаж</h1>

    <div id="interactive-container">        
        <!-- Кнопки зума -->
        <div id="zoom-buttons">
            <button class="zoom-button" onclick="zoomIn()">+</button>
            <button class="zoom-button" onclick="zoomOut()">−</button>
        </div>

        <!-- SVG-контейнер -->
        <div id="svg-container"></div>

        <!-- Кнопки выбора этажей -->
        <div id="floor-buttons">
            <button class="floor-button" onclick="changeFloor(1)">1</button>
            <button class="floor-button" onclick="changeFloor(2)">2</button>
            <button class="floor-button" onclick="changeFloor(3)">3</button>
            <button class="floor-button" onclick="changeFloor(4)">4</button>
            <button class="floor-button" onclick="changeFloor(5)">5</button>
        </div>
    </div>

    <form>
        <div class="input-group">
            <input type="text" class="form-control" id="searchInput" placeholder="введите номер аудитории">
            <div class="input-group-append">
                <!-- КНОПКА ПОИСКА -->
                <button class="btn btn-outline-secondary search-button" type="button" onclick="searchRoom()">
                    <img src="../img/search_button.png" alt="Search">
                </button>
            </div>
        </div>
    </form>
    
</div>


    <script src="~/js/MapScript.js" ></script>

